/* App.scss */
.App-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  background-color: #212121;
  color: #ffffff;
  border-bottom: 2px solid #000000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  height: 20rem;
}

.App-logo-container {
  display: flex;
  align-items: center;
}
.App-logo {
  height: 15rem;
  width: 15rem;

}

.headerButtons {
  display: flex;

}

.headerButtons Button {
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-color: #d89eff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(0, 0, 0);

}

.headerButtons Button:hover {
  background-color: #9276f7;
  color: white;
}

.logo-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.App-title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  flex: 1; 
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  margin-bottom: 5rem
}

.availableItems {
  text-decoration: underline;
  font-size: 2rem;
}

.items {
  height: 3;    
  background-color: rgb(216, 216, 216);
  box-shadow: rgba(20, 12, 0, 0.35) 0px 5px 15px;
  width: 90%;
  transition: transform 0.3s ease;
  display: flex; 
  flex-direction: column;
  margin: 2rem;
}

.items:hover {
  transform: scale(1.05) rotateY(10deg);
}

.items .ant-card-head {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.items .ant-card-body {
  padding: 20px;
}

.itemsImg {
  height: 10rem;
  display: block;
  margin: 0 auto;
}

.video-container {
  width: fit-content;
  height: 200px;
  overflow: hidden;
}

.video-container video {
  background-color: #000000;
  min-width: 1900px;
  max-height: 400px;
  

}